<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, td, th
    {
        border:1px darkgray;
    }
    th
    {
        background-color:gray;
        color:white;
    }
</style>
</head>

<body>
<table>
    <tr>
        <th>地点</th>
        <th>温度</th>
        <th>湿度</th>
        <th>土壤PH</th>
        <th>采集传感器</th>
        <th>采集时间</th>

    </tr>
    <tr>
        <td>No.1</td>
        <td>26</td>
        <td>50</td>
        <td>6.2</td>
        <td>Moisture9527</td>
        <td>2019.02.22 10:20:30</td>

    </tr>
    <tr>
        <td>No.2</td>
        <td>27</td>
        <td>60</td>
        <td>6.4</td>
        <td>Moisture9527</td>
        <td>2019.02.22 10:20:30</td>
    </tr>
    <tr>
        <td>No.3</td>
        <td>27</td>
        <td>60</td>
        <td>6.4</td>
        <td>Moisture9527</td>
        <td>2019.02.22 10:20:30</td>
    </tr>
    <tr>
        <td>No.4</td>
        <td>27</td>
        <td>60</td>
        <td>6.4</td>
        <td>Moisture9527</td>
        <td>2019.02.22 10:20:30</td>
    </tr>
    <tr>
        <td>No.5</td>
        <td>27</td>
        <td>60</td>
        <td>6.4</td>
        <td>Moisture9527</td>
        <td>2019.02.22 10:20:30</td>
    </tr>
    <tr>
        <td>No.6</td>
        <td>27</td>
        <td>60</td>
        <td>6.4</td>
        <td>Moisture9527</td>
        <td>2019.02.22 10:20:30</td>
    </tr>
</table>
</body>
</html>