<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, td, th
    {
        border:1px darkgray;
    }
    th
    {
        background-color:gray;
        color:white;
    }
</style>
</head>

<body>
<table>
    <tr>
        <th>设备id</th>
        <th>设备名称</th>
        <th>设备型号</th>
        <th>设备简介</th>
        <th>设备位置</th>
    </tr>
    <tr>
        <td>001</td>
        <td>温度传感器</td>
        <td>TPSAR-ST</td>
        <td>无线土壤温度传感器可监测土壤温度，广泛应用于农业、林业、气象环境、 温室大棚、花卉蔬菜、草地牧场、植物培养科研等领域。</td>
        <td>1号地</td>
    </tr>
    <tr>
        <td>002</td>
        <td>湿度传感器</td>
        <td>Moisture Senso</td>
        <td>叉形设计，方便插入土壤 模块插入土壤后，输出电压随着土壤湿度升高而增大</td>
        <td>1号地</td>
    </tr>
    <tr>
        <td>003</td>
        <td>ph传感器</td>
        <td>X8W850-H1</td>
        <td>土壤PH传感器（又叫土壤电导率传感器）其能够测量土壤(或者其它介质)等多(细)孔介质的电导率特性，并转换为线性化标准的电压信号输出，可用于土壤/介质的电导率的实时监测。</td>
        <td>1号地</td>
    </tr>


</table>
</body>
</html>